<div class="header">
  <h1 class="name"> Emilia Friedberg </h1>
</div>
<nav class="sidebar-nav">
  <ul>
    <li><a class="navbar-links active" href="#about">About</a></li>
    <li><a class="navbar-links" href="#projects">Projects</a></li>
    <li><a class="navbar-links" href="#contact">Contact</a></li>
    <li><a class="navbar-links" href="https://github.com/emilia-friedberg">GitHub</a></li>
    <li><a class="navbar-links" href="https://www.linkedin.com/in/emilia-friedberg">LinkedIn</a></li>
  </ul>
</nav>
<div id="about" class="content">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at nibh suscipit, cursus neque eu, tristique nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed libero lacus, imperdiet ac nibh in, euismod lacinia leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur pharetra nibh et finibus tempor. Vestibulum ultricies mi eget pharetra maximus. Praesent tristique, urna ut finibus vulputate, est ante consectetur nibh, in aliquam magna libero id ante. Praesent sagittis, felis ut sagittis aliquam, nisl velit viverra nisi, in gravida massa mi ac felis. Ut mattis est non arcu ullamcorper accumsan. </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at nibh suscipit, cursus neque eu, tristique nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed libero lacus, imperdiet ac nibh in, euismod lacinia leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur pharetra nibh et finibus tempor. Vestibulum ultricies mi eget pharetra maximus. Praesent tristique, urna ut finibus vulputate, est ante consectetur nibh, in aliquam magna libero id ante. Praesent sagittis, felis ut sagittis aliquam, nisl velit viverra nisi, in gravida massa mi ac felis. Ut mattis est non arcu ullamcorper accumsan. </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at nibh suscipit, cursus neque eu, tristique nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed libero lacus, imperdiet ac nibh in, euismod lacinia leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur pharetra nibh et finibus tempor. Vestibulum ultricies mi eget pharetra maximus. Praesent tristique, urna ut finibus vulputate, est ante consectetur nibh, in aliquam magna libero id ante. Praesent sagittis, felis ut sagittis aliquam, nisl velit viverra nisi, in gravida massa mi ac felis. Ut mattis est non arcu ullamcorper accumsan. </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at nibh suscipit, cursus neque eu, tristique nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed libero lacus, imperdiet ac nibh in, euismod lacinia leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur pharetra nibh et finibus tempor. Vestibulum ultricies mi eget pharetra maximus. Praesent tristique, urna ut finibus vulputate, est ante consectetur nibh, in aliquam magna libero id ante. Praesent sagittis, felis ut sagittis aliquam, nisl velit viverra nisi, in gravida massa mi ac felis. Ut mattis est non arcu ullamcorper accumsan. </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at nibh suscipit, cursus neque eu, tristique nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed libero lacus, imperdiet ac nibh in, euismod lacinia leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur pharetra nibh et finibus tempor. Vestibulum ultricies mi eget pharetra maximus. Praesent tristique, urna ut finibus vulputate, est ante consectetur nibh, in aliquam magna libero id ante. Praesent sagittis, felis ut sagittis aliquam, nisl velit viverra nisi, in gravida massa mi ac felis. Ut mattis est non arcu ullamcorper accumsan. </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at nibh suscipit, cursus neque eu, tristique nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed libero lacus, imperdiet ac nibh in, euismod lacinia leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur pharetra nibh et finibus tempor. Vestibulum ultricies mi eget pharetra maximus. Praesent tristique, urna ut finibus vulputate, est ante consectetur nibh, in aliquam magna libero id ante. Praesent sagittis, felis ut sagittis aliquam, nisl velit viverra nisi, in gravida massa mi ac felis. Ut mattis est non arcu ullamcorper accumsan. </p>
</div>
<div id="projects" class="content">
    <h2><a class="project-links" href="wordbyword.herokuapp.com">Word by Word</a></h2>
    <p>Built in a week's time, Word by Word is a web application designed to support students in attaining a solid foundation of the fundamentals of English grammar by supplying an interactive alternative to the drudgery of sentence diagramming and grammar exercises. Technologies used to build this app include ReactJS and Ruby on Rails.</p>
</div>
<div id="contact" class="content">
    <h2> Email: </h2>
    <p> <a href="mailto:emiliafriedberg@gmail.com">emiliafriedberg@gmail.com </a></p>
    <h2> Phone: </h2>
    <p>215.692.3103 </p>
</div>
